.about {
  margin-bottom: 42px;

  background-image: url("../img/background-about-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position-y: -132px;
  background-position-x: -2px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/background-about-desktop@2x.jpg");
    background-size: 887px auto;
  }
}

.about__wrapper {
  margin: 0 auto;
  padding-top: 21px;
  padding-right: 121px;
  padding-bottom: 22px;

  max-width: $desktop-max-width;

  font-family: $main-font-family;
  font-style: normal;
  font-size: 14px;
  line-height: 23px;
  color: $text-color;
}

.about__title {
  margin-left: auto;
  margin-bottom: 50px;

  max-width: 547px;

  &::before {
    content: attr(data-bg-shadow);
  }
}

.about__wrapper h3 {
  margin-bottom: 19px;

  font-size: 21px;
  line-height: 26px;
}

.about__wrapper div {
  margin-left: auto;
  margin-bottom: 55px;

  max-width: 547px;
}

.about__wrapper p {
  margin: 0;
}

@media (max-width: 1380px) {
  .about {
    background-position-x: -190px;
  }
}

@media (max-width: 1190px) {
  .about {
    background-position-x: -360px;
  }
}

@media (max-width: $tablet-max-width) {
  .about {
    margin-bottom: 0;

    background-position-y: -128px;
    background-position-x: -263px;
    background-size: 708px auto;
  }

  .about__wrapper {
    padding-right: 111px;
    padding-bottom: 12px;
  }

  .about__title {
    margin-bottom: 42px;

    max-width: 42.4%;
  }

  .about__wrapper h3 {
    margin-bottom: 14px;

    font-size: 18px;
    line-height: 22px;
  }

  .about__wrapper div:first-of-type h3 {
    margin-bottom: 23px;
  }

  .about__wrapper div:first-of-type {
    margin-bottom: 77px;

    max-width: 42.4%;
  }

  .about__wrapper p {
    padding-right: 5px;

    font-size: 14px;
    line-height: 23px;
  }

  .about__wrapper div:first-of-type p {
    padding-right: 0;
  }
}

@media (max-width: $mobile-max-width) {
  .about {
    margin-bottom: 39px;

    background-position-y: -170px;
    background-position-x: -250px;
  }

  .about__wrapper {
    padding: 0;
    padding-top: 364px;
    padding-left: 20px;
    padding-right: 19px;
  }

  .about__title {
    margin-right: auto;
    margin-bottom: 45px;

    max-width: 547px;
  }

  .about__wrapper div {
    margin-right: auto;
    margin-bottom: 0;
  }

  .about__wrapper div:first-of-type {
    margin-bottom: 42px;

    max-width: 547px;
  }

  .about__wrapper h3 {
    margin-bottom: 19px;
  }
}
