.contacts {
  display: flex;
  align-items: center;
  min-height: 54.2vw;

  background-color: $background-contacts-color;
  background-image: url("../img/background-contacts-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
}

.contacts__wrapper {
  margin: 0 auto;
  padding-left: 6px;
  padding-bottom: 5px;

  max-width: $desktop-max-width;

  font-family: $main-font-family;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $main-color;
}

.contacts h2 {
  margin-bottom: 8px;
  font-weight: 800;
  font-size: 35px;
  line-height: 43px;

  text-shadow: 0 0 1px $text-color;
}

.contacts__wrapper p {
  margin-top: 11px;
  margin-right: 10px;
  margin-bottom: 44px;

  text-shadow: 0 0 5px $text-color;
}

@media (max-width: $tablet-max-width) {
  .contacts {
    min-height: 100vw;

    background-image: url("../img/background-contacts-tablet@1x.jpg");
    background-size: cover;
    background-position: bottom;
  }

  .contacts__wrapper {
    padding-right: 5px;
    padding-bottom: 20px;
  }

  .contacts h2 {
    font-size: 25px;
    line-height: 30px;
  }

  .contacts__wrapper p {
    margin: 0 auto;
    margin-top: 23px;
    margin-bottom: 35px;

    max-width: 380px;
  }
}


@media (max-width: $mobile-max-width) {
  .contacts {
    background-position: center bottom;
  }

  .contacts__wrapper {
    padding-top: 164px;
    padding-left: 4px;
    padding-bottom: 151px;
  }

  .contacts p {
    margin-top: 19px;
    margin-bottom: 31px;

    width: 218px;
  }

  .contacts__carryover {

    padding: 30px;
  }
}

@media (max-width: $mobile-min-width) {
  .contacts {
    background-image: url("../img/background-contacts-mobile@1x.jpg");
    background-position-y: -60px;
  }
}
