.gallery__top {
  position: relative;
  margin: 0 auto;
  padding-left: 123px;
  padding-right: 121px;

  max-width: $desktop-max-width;

  font-family: $main-font-family;
  font-style: normal;
  color: $secondary-color;
}

.gallery__top p {
  margin-bottom: 45px;

  max-width: 700px;

  font-size: 16px;
  line-height: 24px;
  color: $text-color;
}

.gallery__pagination {
  position: absolute;
  right: 0;
  bottom: 4px;
  margin-right: 122px;
}

.gallery__list {
  margin: 0 auto;
  padding: 0;

  display: flex;
  max-width: min-content;

  list-style: none;
}

.gallery__item {
  width: min-content;
}

@media (max-width: $tablet-max-width) {
  .gallery__top {
    padding-left: 110px;
  }

  .gallery__top p {
    margin-bottom: 35px;

    max-width: 390px;

    font-size: 14px;
    line-height: 21px;
  }

  .gallery__pagination {
    bottom: -1px;
    margin-right: 111px;
  }
}

@media (max-width: $mobile-max-width) {
  .gallery__top {
    padding-right: 21px;
    padding-left: 21px;
  }

  .gallery__top p {
    margin-bottom: 33px;

    max-width: 200px;

    font-size: 14px;
    line-height: 21px;
  }

  .gallery__pagination {
    bottom: 3px;
    margin-right: 21px;
  }

  .gallery__item img {
    width: 158px;

    object-fit: cover;
    font-family: "object-fit: cover";
  }
}
