.instructors {
  padding-left: 2px;
  margin-bottom: 35px;
}

.instructors__cont-pag {
  position: relative;
  margin-right: 122px;
}

.instructors h3 {
  margin-bottom: 14px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: $secondary-color;
}

.instructors__pagination {
  position: absolute;
  top: -7px;
  right: 0;
}

.instructors__list {
  transform: translateX(-11px);
  margin: 0;
  padding-left: 16px;
  padding: 10px;

  max-width: 1225px;

  list-style: none;
}

.instructors__item {
  padding-top: 14px;
  padding-right: 15px;
  padding-left: 16px;

  width: 234px;
  min-height: 386px;

  box-shadow: 0 0 15px 0 $shadow-color;
}

.instructors__soc-wrapper {
  position: relative;
}

.instructors__item h4 {
  margin-bottom: 8px;
  width: 110px;

  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
}

.instructors__social-link {
  position: absolute;
  top: 4px;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  border: 1px solid $social-border-color;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.instructors__svg-icon {
  fill: $icon-color;
}

.instructors p {
  margin: 0;

  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

@media (max-width: $tablet-max-width) {
  .instructors {
    margin-bottom: 37px;
  }

  .instructors h3 {
    font-size: 18px;
    line-height: 22px;
  }

  .instructors__cont-pag {
    margin-right: 111px;
    margin-bottom: 23px;
  }

  .instructors__pagination {
    top: 0;
  }
}

@media (max-width: $mobile-max-width) {
  .instructors {
    margin-bottom: 38px;
  }

  .instructors__cont-pag {
    margin-right: 21px;
    margin-bottom: 17px;
  }

  .instructors h3 {
    font-size: 16px;
    line-height: 20px;
  }

  .instructors__pagination {
    top: -8px;
  }

  .instructors__social-link {
    right: 2px;
  }
}
