.instructors {
  padding-left: 2px;
}

.instructors h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: $secondary-color;
}

.instructors__list {
  margin: 0;
  padding: 0;

  list-style: none;
}
