.main-header {
  background-color: $background-color;
  background-image: url("../img/background-cloud-intro-desktop@1x.png"), url("../img/background-intro-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom, 0 2px;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/background-cloud-intro-desktop@2x.png"), url("../img/background-intro-desktop@2x.jpg");
    //background-size: 1440px auto;
  }
}

.main-header__wrapper {
  margin: 0 auto;
  padding-top: 43px;
  padding-left: 120px;
  padding-right: 120px;

  min-height: 53.3vw;
  max-width: $desktop-max-width;
}

.main-header__toggle {
  display: none;
}

@media (max-width: $tablet-max-width) {
  .main-header {
    min-height: auto;
  }

  .main-header__wrapper {
    padding-top: 36px;
    padding-left: 109px;
    padding-right: 112px;
  }

  .main-header__top {
    display: flex;
    justify-content: space-between;
  }

  .main-header__toggle {
    position: relative;
    margin-top: 10px;

    display: block;
    width: 23px;
    height: 16px;

    background: none;
    border: none;

    cursor: pointer;

    &::before {
      position: absolute;
      top: 0;
      left: 0;

      display: block;
      width: 24px;
      height: 2px;

      background-color: $main-color;
      box-shadow: 0 14px 0 0 $main-color;

      content: "";
    }

    &::after {
      position: absolute;
      top: 7px;
      left: 0;

      display: block;
      width: 15px;
      height: 2px;

      background-color: $main-color;

      content: "";
    }
  }
}

@media (max-width: $tablet-min-width) {
  .main-header {
    background-position: bottom, -222px;
    background-size: contain, 1168px auto;
  }
}

@media (max-width: $mobile-max-width) {
  .main-header__wrapper {
    padding-top: 13px;
    padding-left: 20px;
    padding-right: 20px;

    min-width: $mobile-min-width;
  }

  .main-header__toggle {
    margin-top: 22px;
  }
}

@media (max-width: $mobile-min-width) {
  .main-header {
    background-position: bottom, -351px;
    background-size: contain, 880px auto;
  }
}
