.main-footer {
  margin-top: -1px;

  background-color: $main-color;
}

.main-footer__wrapper {
  margin: 0 auto;
  padding: 12px 123px;
  padding-right: 120px;
  padding-bottom: 50px;

  max-width: $desktop-max-width;

  font-family: $main-font-family;
  font-style: normal;
  font-weight: normal;
  color: $secondary-color;
}

@media (max-width: $tablet-max-width) {
  .main-footer__wrapper {
    padding-top: 0;
    padding-left: 111px;
    padding-right: 111px;
  }
}

@media (max-width: $mobile-max-width) {
  .main-footer__wrapper {
    padding-left: 17px;
    padding-right: 0;
  }
}
