.question-form {
  padding-right: 8px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.question-form .error {
  color: $invalid-color;
}

.question-form input[type="text"],
.question-form input[type="tel"] {
  padding: 23px 32px;

  width: 354px;

  border: none;
  border-radius: 0;
  outline: none;
}

.question-form__field {
  margin-right: 11px;
  max-width: 355px;
}

.question-form__phone input[type="tel"] {
  padding-left: 38px;
}

.question-form button[type="submit"] {
  margin-left: 6px;
  padding: 23px 0;

  width: 246px;

  color: $main-color;

  background-color: $background-button-color;
  border: none;

  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

@media (max-width: $tablet-max-width) {
  .question-form {
    margin: 0 auto;
    padding-left: 15px;

    flex-direction: column;
    max-width: 270px;
  }

  .question-form input[type="text"],
  .question-form input[type="tel"] {
    margin: 0;
    margin-bottom: 7px;
    padding: 15px 0;

    width: 268px;

    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }

  .question-form__phone,
  .question-form__name {
    margin-right: 0;
  }

  .question-form button[type="submit"] {
    margin: 0;
    padding: 14px 0;

    width: 268px;

    font-size: 14px;
    line-height: 21px;
  }
}

@media (max-width: $mobile-max-width) {
  .question-form {
    padding: 0;
  }
}
