.reviews {
  margin: 0 auto;
  margin-bottom: 96px;
  padding-left: 124px;

  max-width: $desktop-max-width;

  font-family: $main-font-family;
  font-style: normal;
  color: $text-color;
}

.reviews__head {
  position: relative;
  margin-right: 20px;

  max-width: 1196px;
}

.reviews__pagination {
  position: absolute;
  top: 12px;
  right: 0;
}

.reviews__list {
  margin: 0;
  padding: 10px;
  transform: translateX(-10px);

  max-width: 1240px;

  list-style: none;
}

.reviews__item {
  padding-top: 46px;
  padding-left: 36px;
  padding-bottom: 20px;

  width: 388px;

  box-shadow: 0 0 15px 0 $shadow-color;

  &--one {
    padding-right: 36px;
  }

  &--two {
    padding-left: 30px;
    padding-right: 5px;
  }

  &--three {
    padding-right: 10px;
  }
}

.reviews__item blockquote {
  margin: 0;
}

.reviews__author {
  margin-bottom: 37px;
  display: flex;
  flex-wrap: wrap;
}

.reviews__author img {
  margin-right: 17px;

  width: 96px;
  height: 100px;
}

.reviews__item--three img {
  transform: translateY(-5px);
}

.reviews__name {
  padding-top: 31px;
}

.reviews__author cite {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
}

.reviews__author p {
  margin-top: 5px;

  font-size: 14px;
  line-height: 19px;
}

.reviews__wrapper > p {
  margin: 21px 0;

  font-size: 14px;
  line-height: 23px;
}

.reviews__quotes {
  position: relative;

  &--before::before {
    position: absolute;
    top: -9px;
    left: 0;

    display: block;
    width: 30px;
    height: 23px;

    background-image: url("../img/icon-quotes-nverted.svg");
    background-repeat: no-repeat;

    content: "";
  }

  &--after::before {
    position: absolute;
    bottom: -15px;
    left: -25px;

    display: block;
    width: 30px;
    height: 23px;

    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;

    content: "";
  }
}

@media (max-width: $tablet-max-width) {
  .reviews {
    margin-bottom: 102px;
    padding-left: 112px;
  }

  .reviews__head {
    margin-right: 111px;
  }

  .reviews__pagination {
    top: 0;
  }
}

@media (max-width: $mobile-max-width) {
  .reviews {
    margin-bottom: 37px;
    padding-left: 22px;
  }

  .reviews__head {
    margin-right: 21px;
  }

  .reviews__pagination {
    top: -6px;
    right: 0;
  }

  .reviews__item {
    padding-right: 4px;
    padding-left: 13px;
    padding-bottom: 8px;

    max-width: 278px;
  }

  .reviews__item img {
    margin-right: 9px;
  }

  .reviews__author {
    margin-bottom: -7px;
  }
}
