.site-navigation {
  margin: 0;
  margin-right: auto;
  padding: 0;
  padding-top: 23px;

  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.site-navigation__item {
  margin-right: 47px;
  margin-bottom: 15px;
}

.site-navigation__link {
  color: $main-color;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

@media (max-width: $tablet-max-width) {
  .site-navigation {
    display: none;
  }
}
