.training {
  font-family: $main-font-family;
  font-style: normal;
}

.training__wrapper {
  margin: 0 auto;
  padding-top: 76px;
  padding-left: 122px;

  max-width: $desktop-max-width;
}

.training__wrapper > p {
  margin-bottom: 58px;
  padding-left: 2px;

  width: 61%;

  font-weight: normal;
  font-size: 16px;
  line-height: 26px;

  color: $text-color;
}

@media (max-width: $tablet-max-width) {
  .training__wrapper {
    padding-top: 112px;
    padding-left: 111px;
  }

  .training__wrapper > p {
    margin-bottom: 62px;
    padding-left: 0;

    width: 71%;
  }
}

@media (max-width: $mobile-max-width) {
  .training__wrapper {
    padding-top: 89px;
    padding-left: 19px;
  }

  .training__wrapper > p {
    margin-bottom: 58px;

    width: 80%;

    font-size: 14px;
    line-height: 22px;
  }
}
