.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.reviews__list .slick-track {
  padding: 10px;
}

.instructors__list .slick-slide {
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
  width: 234px;
}

.reviews__list .slick-slide {
  margin-right: 19px;

  width: 388px;
}

.gallery__list .slick-slide {
  margin-right: 5px;

  width: min-content;
}

.slick-button {
  position: relative;

  width: 37px;
  height: 35px;

  background-color: $background-button-color;
  border: none;

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.slick-button-prev::before {
  position: absolute;
  transform: rotate(180deg);
  top: 14px;
  left: 13px;

  display: block;
  width: 13px;
  height: 8px;

  background-image: url("../img/icon-arrow.svg");
  background-repeat: no-repeat;

  content: "";
}

.slick-button-next::before {
  position: absolute;
  top: 14px;
  left: 13px;

  display: block;
  width: 13px;
  height: 8px;

  background-image: url("../img/icon-arrow.svg");
  background-repeat: no-repeat;

  content: "";
}

@media (max-width: $tablet-max-width) {
  .slick-button {
    outline: none;
  }
}

@media (max-width: $mobile-max-width) {
  .reviews__list .slick-slide {
    width: 278px;
  }
}
