$main-font-family: "Montserrat", "Open Sans", sans-serif;
$main-color: #ffffff;
$secondary-color: #2d383f;
$text-color: #000000;
$icon-color: #494949;
$field-placeholder-color: #b0b0b0;
$background-button-color: #0266c1;
$background-text-color: #f5f9fc;
$desktop-width: 1024px;
$tablet-max-width: 1023px;
$tablet-min-width: 768px;
$mobile-max-width: 767px;
$mobile-min-width: 320px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
